@{
    Layout = "";
}
@model VivaPaymentInfoModel

@if (!String.IsNullOrEmpty(Model.DescriptionText)){
    <div class="method-description">@Html.Raw(Model.DescriptionText)</div>
}else{
    <div class="method-description">@T("Plugins.Payments.VivaPayments.Payment.Info.Description")</div>
}